* {
    box-sizing: border-box;
}

.image-container img {
    display: block;
    margin: 0 auto;
}

.detail-product {
    margin: 0 auto;
    max-width: 400px;
}

.circle {
    background: white;
    border: solid 1px black;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}



.label {
    border: solid 0.5px gray;
    text-align: center;
    font-size: 16px;
    font-weight: bolder;
    margin: 5px;
}

.detail-product button:hover {
    opacity: 0.8;
}

.detail-product a {
    display: block;
    margin: 20px 0;
    color: #CD212A;
    text-decoration: none;
}

.detail-product a:hover {
    text-decoration: none;
    color: #34568B;
}

.social-sharing {
    display: grid;
    grid-template-columns: auto auto auto;
}

.social-sharing a {
    display: inline-block;
    margin: 0 0;
    color: black;
    text-decoration: none;
}

.size label{
    width: 50px;
    margin: 4px;
    background-color:white;
    border-radius: 4px;
    border:1px solid #D0D0D0;
    overflow:auto;
}

.size label span{
    text-align: center;
    display: block;
    font-size: 18px;
    padding: 2px 0px;
    font-weight: bolder;
}

.size label:hover{
    cursor: pointer;
}

.size label input{
    position: absolute;
    display: none;
}

.size input:checked + span{
    border: solid 1px black;
    background-color: #EFEFEF;
}


